.btn {
  cursor: pointer;
  margin: 1rem;
  padding: 3rem;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 1rem;
  color: black;
}

.btn-red {
  background: url("./img/icons8-close-48.png") no-repeat center center/cover;
  border: 0.2rem solid transparent;
}

.btn-red:hover {
  border: 0.2rem solid #ff5c5c;
}

.btn-green {
  background: url("./img/icons8-check-mark-48.png") no-repeat center
    center/cover;
  border: 0.2rem solid transparent;
}

.btn-green:hover {
  border: 0.2rem solid #58cc5e;
}
