body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.btns-container,
.counters-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.counters__info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}

.counters__info i {
  font-size: 4rem;
  color: rgb(223, 174, 83);
  padding: 1rem;
}

.counters__info p {
  font-size: 2.5rem;
  font-weight: bold;
}
